* { 
    padding: 0; 
    margin: 0;
}

.pageStyle { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.headerPg{
    flex-flow: column;

}

.coresSection { 
    align-items: center;
    margin-top: 10px;
}
.PhoenixBtn { 
    width:100px;
    height:50px;
}

.woodSection{
    margin-top: 400px;
  
}

.woodBtns {
   
}