* { 
    padding: 0; 
    margin: 0;
}

.pageStyle { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.headerPg{
    flex-flow: column;

}

.coresSection { 
    align-items: center;
    margin-top: 10px;
}
.coresSection h2 { 
    color:red;
}
.PhoenixBtn { 
    width:100px;
    height:50px;
}

.woodSection{
    margin-top: 400px;
  
}

.woodSection h2 { 
    color:red;
}


.woodBtns {
   
}

.createWandBtn { 
    width: 200px;
    font-size: 32px;
    font-family: serif;
    align-self: center;
    color: #814b4a;
    background-color: transparent;
    border-radius: 7px;
    display: flex;
    padding: 20px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #927c6c;
    cursor: pointer;
}

.createWandBtn:hover{ 
    background-color: #814b4a;
    transition: 0.5s;
}